In [29]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from datetime import datetime

In [36]:
# station data load
station = pd.read_csv('../data/station(21.01.31).csv')

# use data load
data_2 = pd.read_csv('../raw_data/2021.02.csv', sep = ',', encoding = 'cp949')
data_3 = pd.read_csv('../raw_data/2021.03.csv', sep = ',', encoding = 'cp949')
data_4 = pd.read_csv('../raw_data/2021.04.csv', sep = ',', encoding = 'cp949')
data_5 = pd.read_csv('../raw_data/2021.05.csv', sep = ',', encoding = 'cp949')
data_6 = pd.read_csv('../raw_data/2021.06.csv', sep = ',', encoding = 'cp949')

C:\Users\LEE\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (4,6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [34]:
# 필요없는 데이터 제거
data_2 = data_2.drop(columns=['자전거번호', '대여 대여소명', '대여거치대',
                    '반납대여소명', '반납거치대'], axis=1)
data_3 = data_3.drop(columns=['자전거번호', '대여 대여소명', '대여거치대',
                    '반납대여소명', '반납거치대'], axis=1)
data_4 = data_4.drop(columns=['자전거번호', '대여 대여소명', '대여거치대',
                    '반납대여소명', '반납거치대'], axis=1)
data_5 = data_5.drop(columns=['자전거번호', '대여 대여소명', '대여거치대',
                    '반납대여소명', '반납거치대'], axis=1)
data_6 = data_6.drop(columns=['자전거번호', '대여 대여소명', '대여거치대',
                    '반납대여소명', '반납거치대'], axis=1)

In [35]:
data_2

,대여일시,대여 대여소번호,반납일시,반납대여소번호,이용시간,이용거리
0,2021-02-01 00:00:38,1514,2021-02-01 00:03:05,1554,2.0,736.02
1,2021-02-01 00:01:09,1977,2021-02-01 00:04:59,1981,3.0,856.09
2,2021-02-01 00:02:48,1358,2021-02-01 00:05:10,1360,2.0,397.92
3,2021-02-01 00:00:39,1211,2021-02-01 00:05:27,2639,4.0,1015.50
4,2021-02-01 00:01:59,1721,2021-02-01 00:06:10,1708,4.0,0.00
...,...,...,...,...,...,...
1226406,2021-02-28 23:21:55,2910,2021-02-28 23:59:48,1726,37.0,6403.05
1226407,2021-02-28 23:32:22,1336,2021-02-28 23:59:49,346,27.0,3839.32
1226408,2021-02-28 22:56:01,590,2021-02-28 23:59:54,502,63.0,2021.30
1226409,2021-02-28 23:09:27,283,2021-02-28 23:59:56,283,50.0,8361.71
1226410,2021-02-28 23:44:24,152,2021-02-28 23:59:56,427,15.0,2370.33