In [2]:
import pandas as pd
import numpy as np
import networkx as nx

use = np.load('./data/on_data.npz', allow_pickle = True)
use = use['arr_0']

use = np.delete(use, [0,1,3,4,5,7,8,9,10], 1)

In [5]:
df1 = pd.DataFrame(use, columns=['start', 'end'])

In [6]:
df1

      start   end
0       101   101
1       101   104
2       101   104
3       101   104
4       101   106
...     ...   ...
94806  4785   454
94807  4791  4791
94808  4791   331
94809  4791  4791
94810  4791   471

[94811 rows x 2 columns]