In [1]:
import folium
import pandas as pd
import numpy as np
import networkx as nx

nodes = pd.read_csv('./data/bike_node(21.01.31).csv')
links = pd.read_csv('./data/group_on.csv')

In [2]:
nodes

      Unnamed: 0    id          node_name   latitude   longitude
0              0   301        경복궁역 7번출구 앞  37.575794  126.971451
1              1   302        경복궁역 4번출구 뒤  37.575947  126.974060
2              2   303        광화문역 1번출구 앞  37.571770  126.974663
3              3   304        광화문역 2번출구 앞  37.572113  126.977577
4              4   305             종로구청 옆  37.572582  126.978355
...          ...   ...                ...        ...         ...
2149        2149  1085       래미안 솔베뉴(고덕로)  37.554569  127.145874
2150        2150  1086      래미안 솔베뉴(구천면로)  37.550598  127.145454
2151        2151  1088          풍납사거리(강동)  37.528122  127.119522
2152        2152  1089  고덕 래미안힐스테이트(201동)  37.560600  127.146698
2153        2153  1090        상일동역 2번출구 앞  37.556789  127.166145

[2154 rows x 5 columns]