In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import geopandas as gpd

In [4]:
station = pd.read_csv('station(21.01.31).csv')

In [5]:
station

,station number,������(�뿩��)��,��ġ��,���ּ�,latitude,longitude,��ġ\n�ñ�,LCD,QR,LCD + QR,�\n���
0,301,�溹�ÿ� 7���ⱸ ��,���α�,����Ư���� ���α� ������ ����130,37.575794,126.971451,2015-10-07,16.0,NaN,16,LCD
1,302,�溹�ÿ� 4���ⱸ ��,���α�,����Ư���� ���α� ������ ����130,37.575947,126.974060,2015-10-07,12.0,NaN,12,LCD
2,303,��ȭ���� 1���ⱸ ��,���α�,����Ư���� ���α� ������� ����189,37.571770,126.974663,2015-10-07,8.0,NaN,8,LCD
3,304,��ȭ���� 2���ⱸ ��,���α�,����Ư���� ���α� ������� ����172,37.572113,126.977577,2021-01-26,NaN,7.0,7,QR
4,305,���α�û ��,���α�,����Ư���� ���α� ����� 43,37.572582,126.978355,2015-10-07,16.0,NaN,16,LCD
...,...,...,...,...,...,...,...,...,...,...,...
2149,1085,���̾� �ֺ���(������),������,������1650,37.554569,127.145874,2020-01-13,NaN,20.0,20,QR
2150,1086,���̾� �ֺ���(��õ���),������,������1650,37.550598,127.145454,2020-01-10,NaN,10.0,10,QR
2151,1088,ǳ����Ÿ�(����),������,������451-3,37.528122,127.119522,2020-01-14,NaN,12.0,12,QR
2152,1089,���� ���̾���������Ʈ(201��),������,������ 675,37.560600,127.146698,2020-01-13,NaN,10.0,10,QR
2153,1090,���ϵ��� 2���ⱸ ��,������,������ 333,37.556789,127.166145,2020-01-13,NaN,10.0,10,QR